@use 'src/utilities.scss' as *;

.container {
  width: 100%;
  padding: .5em;

  display: flex;
  flex-direction: row;
  align-items: center;

  .prompt {
    flex: 1 0;
  }

  .checkbox {
    flex: 0 1;
    padding: .5em;

    button {
      cursor: pointer;

      background: none;
      border: 2px solid getNord(4);
      border-radius: .5em;
      padding: .5em;

      &:focus {
        outline: none;
        border: 2px solid getNord(8);

        .checker {
          background: getNord(8);
        }
      }

      .checker {
        width: 1em;
        height: 1em;
        border-radius: .25em;

        opacity: var(--opacity, 1);
        background: getNord(4);

        transition: all .125s;
      }

      transition: all .25s;
    }
  }
}
